<h1>SO</h1>
<% @so_lines.each do |line| %>
<li> <%= line.so.OrderDate %> | ProdId: <%= line.ProdId %> | QuantityDisplay: <%= line.QuantityDisplay %></li>
<% end %>
<h1>PO</h1>
<% @po_lines.each do |line| %>
<li> <%= line.po.OrderDate %> | ProdId: <%= line.ProdId %> | QuantityDisplay: <%= line.QuantityDisplay %></li>
<% end %>

<hr>
<h1>ALL</h1>
<% @lines.each do |line| %>
<li> <%= line[:OrderDate] %> | ProdId: <%= line[:ProdId] %> | QuantityDisplay: <%= line[:QuantityDisplay] %> | Type: <%= line[:Type] %></li>
<% end %>